
{%extends 'base.html' %}
{% block content %}
	

<h1>About</h1>
<h3>{{ title|capfirst }}</h3>
<h3>{{ title|capfirst|upper }}</h3>
<p>This is a template</p>


{{my_html|safe}}

<p>
{{ my_text }}, {{ my_number }}
{{my_list}}
</p>

<ul>
	<li>Item 1</li>
	<li>Item 2</li>
</ul>

<ul>
{% for my_subitem in my_list %}
 	{% if my_subitem == 312 %}
 		<li>{{forloop.counter}} - {{my_subitem |add:22}}</li>
 	{% elif my_subitem == "ABC" %}
 		<li>This is not a network</li>
 	{% else %}
 	
 		<li>{{forloop.counter}} - {{my_subitem }}</li>
 	{% endif %}
{% endfor %}
</ul>

{% endblock %}